$black: #000;
$white:#fff;
$teal:#008080;
$teal-opacity:#00808098;
$teal-deep:#003E3F;
$teal-deep-slight-opacity:#003e3fe1;
$mint:#DDFFE7;
$spearmint:#45B08C;
$tealgreen:#175873;
$royal-blue:#0C1446;
$baby-blue:#D3F4FB;
$burnt-siena:#9E3A14;
$primary-background-color:#FFFAE9;
$secondary-background-color:#FBDE4D;
$primary-heading-color:#0F0D1C;
$secondary-heading-color:#756BEE;
$primary-text-color:#646371;
$button-text-color:#FFFFFF;