@font-face {
  font-family: Neurial Grotesk;
  src: url("../../assets/fonts/NeurialGrotesk-Regular.otf");
}
body {
  font-family: Neurial Grotesk;
}
.header {
  padding: 10px 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: $primary-background-color;
  height: 100vh;

  &__toggler {
    &-icon {
      height: 20px;
      width: 20px;
    }
  }
  &__offcanvas {
    // position: relative;
    &-title {
      // margin-top: 30px;
      @include section-title-heading;
      padding: 0 !important;
      font-family: Playfair Display;
      position: relative;
      text-decoration: none;
      color: $primary-heading-color !important;
      &::after {
        position: absolute;
        right: -10px;
        top: 55%;
        content: "";
        background: $primary-heading-color;
        height: 8px;
        width: 8px;
        border-radius: 50%;
      }
    }
    &-content {
      margin-top: 20px;
      &-item {
        @include secondary-paragraph;
        font-weight: 500;
        text-decoration: none;
        color: $primary-text-color !important;
        margin-bottom: 10px;
      }
    }
    &-button {
      position: absolute;
      bottom: 25px;
      left: 20px;
      &-item {
        @include primary-button;
      }
    }
  }

  &__nav {
    &-title {
      @include section-title-heading;
      padding: 0 !important;
      font-family: Playfair Display;
      position: relative;
      color: $primary-heading-color;
      @media (max-width: 400.98px) {
        font-size: 20px;
      }
      &::after {
        position: absolute;
        right: -10px;
        top: 55%;
        content: "";
        background: $primary-heading-color;
        height: 8px;
        width: 8px;
        border-radius: 50%;
      }
    }
    &-content {
      &-item {
        @include secondary-paragraph;

        color: $primary-heading-color;
        font-family: Neurial Grotesk;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $secondary-heading-color;
        }
      }
    }
    &-contact {
      @include primary-button;
      transition: all 0.4s ease-in-out;
      @media (max-width: 380.98px) {
        display: none;
      }
    }
  }

  &__intro {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;

    &-gretings {
      @include section-heading;
      color: $primary-heading-color;
    }
    &-name {
      font-family: Playfair Display;
      font-style: italic;
      @include primary-heading;
      color: $secondary-heading-color;
    }
    &-title {
      @include small-paragraph;

      color: $primary-heading-color;
      font-weight: 600;
    }
    &-text {
      margin: 10px 0;
      @include primary-paragraph;
      color: $primary-text-color;
    }
    &-button {
      @include flex-center;
      gap: 20px;
      margin-top: 20px;
      transition: all 0.4s ease-in-out;
      @media (max-width: 591.98px) {
        flex-direction: column;
        gap: 10px;
      }
      &-contact {
        @include secondary-button;
        background: none !important;
        color: $primary-heading-color !important;
        border: 1px solid $primary-heading-color;
        transition: all 0.5s ease-in-out;
        &:hover {
          background: $primary-heading-color !important;
          color: $white !important;
        }
      }
      &-resume {
        @include secondary-button;
        transition: all 0.5s ease-in-out;

        width: fit-content;
      }
    }
  }
}

.projectdemo {
  padding-bottom: 100px;

  position: relative;
  z-index: 1;
  &::before {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    content: "";
    background: $primary-background-color;
    z-index: -1;
  }
  &__recentwork {
    @include flex-betweenwrap;
    align-items: center;
    gap: 20px;
    transition: all 0.4s ease-in-out;
    @media (max-width: 670.98px) {
      display: block;
    }
    &-title {
      @include secondary-heading;

      color: $primary-heading-color;
      position: relative;
      transition: all 0.4s ease-in-out;
      @media (min-width: 991px) and (max-width: 1060.98px) {
        padding-left: 40px;
      }
      @media (min-width: 767px) and (max-width: 830.98px) {
        padding-left: 40px;
      }
      @media (max-width: 670.98px) {
        width: 100%;
        text-align: center;
      }
      &::before {
        position: absolute;
        top: 50%;

        right: 100%;
        width: 50px;
        height: 3px;
        background: $primary-heading-color;
        content: "";
        transition: all 0.4s ease-in-out;
        @media (min-width: 991px) and (max-width: 1060.98px) {
          right: 90%;
        }
        @media (min-width: 767px) and (max-width: 830.98px) {
          right: 90%;
        }
        @media (max-width: 670.98px) {
          right: 76%;
        }
        @media (max-width: 454.98px) {
          right: 82%;
          width: 40px;
        }
        @media (max-width: 345.98px) {
          right: 85%;
        }
      }
      span {
        font-family: Playfair Display;
        color: $secondary-heading-color;
        font-style: italic;
      }
    }
    &-detials {
      @media (max-width: 670.98px) {
        margin-top: 10px;
        text-align: center;
      }
      &-number {
        color: $primary-heading-color;
        @include section-title-social-heading;
        span {
          margin-right: 5px;
          @include section-title-heading;
        }
      }
      &-name {
        margin-top: 5px;
        @include secondary-paragraph;
        color: $primary-text-color;
      }
    }
  }
  &--cards {
    position: relative;
    height: fit-content;
    margin: 20px 0 70px;
  }
  &__contents {
    &-item {
      position: relative;
      height: 335px;
      border: 1em solid #fff;
      border-bottom: 4em solid #fff;
      border-radius: 0.25em;
      box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);

      opacity: 0;
      transform: translateY(6em) rotateZ(-5deg);
      transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
        opacity 0.3s 0.25s ease-out;
      max-width: 600px;
      width: 96%;
      will-change: transform, opacity;

      outline: none;
      border: transparent;

      @media (max-width: 991.98px) {
        width: 99%;
      }

      &.is-visible {
        opacity: 1;
        transform: rotateZ(0deg);
      }
      &-image {
        border-radius: 4px 4px 0 0;
        box-shadow: 0 2px 10px 0px #0000002e;
      }
      &-details {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 90%;

        align-items: flex-end;
        &-identity {
          &-name {
            @include section-title-social-heading;

            color: $primary-heading-color;
            @media (max-width: 991.98px) {
              font-size: 20px;
            }
          }
          &-type {
            @include secondary-paragraph;
            color: $primary-text-color;
          }
        }
        &-link {
          &-anchor {
            @include flex-center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: $secondary-heading-color;
            &:hover {
              background: #4d41db !important;
              box-shadow: 0 2px 3px 0px rgb(0 0 0 / 22%),
                0 4px 8px 3px rgb(0 0 0 / 35%);
            }
          }
        }
      }
    }
  }
  &__more {
    width: fit-content;
    margin: auto;
    &-button {
      @include secondary-button;
      color: $button-text-color;
    }
  }
}

.skills {
  padding: 70px 0;
  background: $primary-background-color;
  &__title {
    text-align: center;
    width: 60%;
    margin: 0 auto 20px;
    &-name {
      @include secondary-heading;

      color: $primary-heading-color;
      span {
        font-family: Playfair Display;
        font-style: italic;
        color: $secondary-heading-color;
      }
    }
    &-text {
      margin-top: 10px;
      @include primary-paragraph;
      color: $primary-text-color;
    }
  }
  &__nav {
    margin-top: 40px;
    &-buttons {
      @include flex-center;
      gap: 20px;
      border: $primary-heading-color;
      &-item {
        @include primary-button;
        background: $primary-heading-color;
        border-radius: 6px;
        transition: all 0.5s ease-in-out;

        &.active {
          background: $secondary-heading-color !important;
          border: $secondary-heading-color !important;
        }
        &:hover {
          background: $secondary-heading-color !important;
          box-shadow: 0 2px 15px 3px #00000047;
          border-color: $secondary-heading-color !important;
          box-shadow: 0 2px 3px 0px rgb(0 0 0 / 22%),
            0 4px 8px 3px rgb(0 0 0 / 35%);
        }
      }
    }
  }
  &__tab {
    margin-top: 50px;
    &-content {
      &-detail {
        text-align: center;

        &-name {
          position: absolute;
          @include primary-paragraph;
          font-weight: 600;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .single-skill-img-1 {
          margin: 6px 6px 20px;
          display: inline-block;
          position: relative;
          text-align: center;
          line-height: 1.2;
        }
        .single-skill-img-2 {
          margin: 6px 6px 20px;
          display: inline-block;
          position: relative;
          text-align: center;
          line-height: 1.2;
        }
        .single-skill-img-3 {
          margin: 6px 6px 20px;
          display: inline-block;
          position: relative;
          text-align: center;
          line-height: 1.2;
        }
        .single-skill-img-4 {
          margin: 6px 6px 20px;
          display: inline-block;
          position: relative;
          text-align: center;
          line-height: 1.2;
        }
        .single-skill-img-5 {
          margin: 6px 6px 20px;
          display: inline-block;
          position: relative;
          text-align: center;
          line-height: 1.2;
        }
        .single-skill-img-6 {
          margin: 6px 6px 20px;
          display: inline-block;
          position: relative;
          text-align: center;
          line-height: 1.2;
        }
        .single-skill-img-7 {
          margin: 6px 6px 20px;
          display: inline-block;
          position: relative;
          text-align: center;
          line-height: 1.2;
        }
        .single-skill-img-8 {
          margin: 6px 6px 20px;
          display: inline-block;
          position: relative;
          text-align: center;
          line-height: 1.2;
        }
      }
    }
  }
}

.connecting {
  margin: 40px 0;
  &__details {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    &-title {
      @include secondary-heading;
      color: $primary-heading-color;

      span {
        font-family: Playfair Display;
        font-style: italic;
        color: $secondary-heading-color;
      }
    }
    &-text {
      margin-top: 10px;
      @include secondary-paragraph;
      color: $primary-text-color;
    }
    &-contact {
      margin-top: 30px;
      &-item {
        @include primary-button;
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}

.footer {
  padding: 70px 0;
  background: $secondary-background-color;
  position: relative;
  &__details {
    &-title {
      @include secondary-heading;

      color: $primary-heading-color;
      span {
        font-family: Playfair Display;
        color: $secondary-heading-color;
        font-style: italic;
      }
    }
    &-socialConnection {
      &-card {
        background: $white;
        &-body {
          align-items: flex-end;
          &-title {
            &-name {
              @include section-title-social-heading;

              color: $primary-heading-color;
              transition: all 0.4s ease-in-out;
              @media (max-width: 426.98px) {
                font-size: 20px;
              }
            }
            &-brief {
              @include small-paragraph;
              color: $primary-text-color;
            }
          }
          &-icon {
            @include flex-center;
            &-image {
              width: 30px;
            }
          }
        }
      }
    }
    &-nav {
      margin-top: 80px;
      position: relative;
      &::before {
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $primary-text-color;
        opacity: 0.6;
        content: "";
      }
      &::after {
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $primary-text-color;
        opacity: 0.6;
        content: "";
      }
      &-title {
        @include section-title-heading;
        // padding: 0 !important;
        font-family: Playfair Display;
        position: relative;

        a {
          text-decoration: none;
          color: $primary-heading-color !important;
        }
        &::after {
          position: absolute;
          left: 63px;
          top: 60%;
          content: "";
          background: $primary-heading-color;
          height: 8px;
          width: 8px;
          border-radius: 50%;
        }
      }
      &-content {
        &-brief {
          flex-direction: row !important;
          gap: 40px;
          align-items: center;
          align-self: center;
          justify-content: end;
          transition: all 0.4s ease-in-out;

          @media (max-width: 575.98px) {
            justify-content: left;
          }
          &-item {
            &-link {
              @include small-paragraph;
              font-weight: 500;
              color: $primary-heading-color;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: $secondary-heading-color;
              }
            }
          }
        }
      }
    }
    &-copyright {
      position: absolute;
      left: 40%;
      bottom: 0;
      @include small-paragraph;
      font-size: 12px;
      font-weight: 500;
      color: $primary-text-color;
      transition: all 0.4s ease-in-out;
      @media (max-width: 900.98px) {
        left: 30%;
      }
      @media (max-width: 591.98px) {
        left: 20%;
      }
      @media (max-width: 400.98px) {
        left: 10%;
      }
    }
  }
}
